[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/gmx-contracts"]
	path = lib/gmx-contracts
	url = https://github.com/gmx-io/gmx-contracts
[submodule "lib/modulekit"]
	path = lib/modulekit
	url = https://github.com/rhinestonewtf/modulekit
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
